@using EasyCRM.Models.ViewModels;
@model IEnumerable<CompanyVM>;
@{
    ViewData["Title"] = "Comapmy";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 2px solid black;
         
        }
    </style>
</head>
<body>
    <div>
        <form asp-action="Index" asp-controller="Company" method="post">
            <div class="form-group">
                <span>Company Name</span>
                <input type="text" id="companyName" name="companyName" />
                </div>
            <input type="submit" value=" filter" />
        </form>
    </div>
<table widht="100%">
    <tr >
        <th>Company Id</th>
        <th>Company Name</th>
        <th>Company Description</th>
        <th>Company Address</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CompanyId</td>
            <td>@item.CompanyName</td>
            <td>@item.CompanyDescription</td>
            <td>@item.CompanyAddress</td>
                <td><a href="@Url.Action("Edit","Company")/@item.CompanyId">Edit</a></td>
                <td><a href="@Url.Action("Delete","Company")/@item.CompanyId">Delete</a></td>
        </tr>

    }
</table>


    <a class="btn btn-primary" href="@Url.Action("Add","Company")">Add</a>
</body>
</html>