@using EasyCRM.Models.ViewModels;
@model IEnumerable<CustomerVM>;
@{
    ViewData["Title"] = "Customer";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <div>
        <form asp-action="Index" asp-controller="Customer" method="post">
            <div class="form-group">
                <span>Customer Name</span>
                <input type="text" id="customerName" name="customerName" />
            </div>
            <input type="submit" value=" filter" />
        </form>
    </div>
    <table widht="100%">
        <tr>
            <th>Customer Id</th>
            <th>Customer Name</th>
            <th>Customer Description</th>
            <th>Customer Address</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CustomerId</td>
                <td>@item.CustomerName</td>
                <td>@item.CustomerDescription</td>
                <td>@item.CustomerAddress</td>
                <td><a href="@Url.Action("Edit","Company")/@item.CustomerId">Edit</a></td>
                <td><a href="@Url.Action("Delete","Company")/@item.CustomerId">Delete</a></td>
            </tr>

        }
    </table>


    <a class="btn btn-primary" href="@Url.Action("Add","Customer")">Add</a>
</body>
</html>