@using EasyCRM.Models.ViewModels;
@model IEnumerable<ProductReportVM>;
@{
    ViewData["Title"] = "CustomerReport";
}
<!DOCTYPE html>
<html>
<head>
    <h1 class="display-4">Repots Page</h1>
    <a class="btn btn-primary" href="@Url.Action("ProductReport","Report")">ProductReport</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-primary" href="@Url.Action("QueryReport","Report")">QueryReport</a>
    <style>
        table, th, td {
            border: 2px solid black;
        }
    </style>
</head>
@*<body>
    
    <table widht="100%">
        <tr>
            
            <th>ProductName</th>
            <th>CompanyName</th>
            <th>CustomerName</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>@item.productName</td>
                <td>@item.companyName</td>
                <td>@item.customerName</td>
                
            </tr>

        }
    </table>


    
</body>*@
</html>
